/* Елемент футера меню */
.footer_wrapper {
  margin: 1rem;
  width: 80%;
}
.darkmode_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Кнопка переключення режимів світлого і темного фонів */
.button_footer {
  position: relative;
  display: inline-block;
  width: 3.7vw;
  height: 3.8vh;
  vertical-align: top;
  background: #e0dfdf;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  appearance: none;
}
.img_footer {
  width: 1.7vw;
  margin: 1.5rem;
  cursor: pointer;
}
.footer_narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: 1.2vh;
}
.logout,
.darkmode {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #7c7c7a;
}
.logout {
  margin: 6vh 0;
  cursor: pointer;
}
/* Анімація кнопки переключення режимів світлого і темного фонів */
.button_footer::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(./footer_img/button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f5f5;
  border-radius: 50%;
  transform: translateX(0);
}
.button_footer:checked::after {
  transform: translateX(calc(100% + 3px));
  background-image: url(./footer_img/button_moon.svg);
  background-color: #424444;
}
