/* Хедер навігаційного меню */
.header_wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  margin: 5vh 0 7vh 1.1vw;
}
.header_badge {
  height: 44px;
  width: 44px;
  background: #4a49cb;
  border-radius: 8px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_badge_narrow {
  height: 40px;
  width: 40px;
  background: #4a49cb;
  border-radius: 8px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}
.header_title {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #222133;
}
.header_mail {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #7c7c7a;
}
