/* Стилі основного елемента меню */
.element_menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  color: #7c7c7a;
  cursor: pointer;
}
.body_wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 1vh;
}
.body_wrapper_narrow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}
.body_elem_title {
  height: 100%;
  text-align: center;
}
