body :root {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
.pannel_wrapper {
  width: 250px;
  height: 97vh;
  border-right: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 1px 0px 0px #dedede;
}
.pannel_wrapper_narrow {
  width: 90px;
  height: 97vh;
  border-right: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 1px 0px 0px #dedede;
  align-items: center;
}
/* Створення анімації виїзду розширеного навігаційного меню */
#panel {
  position: fixed;
  top: 1vh;
  left: 0;
  transition-duration: 0.3s;
}
#hidden_panel {
  position: fixed;
  top: 1vh;
  left: -250px;
  transition-duration: 0.3s;
}
#panel:hover {
  top: 1vh;
  left: 260px;
}
#panel:hover #hidden_panel {
  top: 1vh;
  left: 0;
}
